@use 'sass:math';
@import './libs/functions';
@import './libs/mixins';
@import './libs/reset';
@import './modules/fonts';
@import './modules/vars';

body {
	background-color: var(--color-bg-primary);
	font-family: var(--font-regular);
	color: var(--color-textr-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
	transition: all 5000s ease-in-out 0s;
}

.app {
	display: grid;
	max-width: rem(540);
	margin: 0 auto;
	padding: 15vh rem(10) 5vh;
	gap: rem(30) 0;
}

.title {
	font-family: var(--font-medium);
	font-size: rem(40);
	font-weight: 500;
	text-align: center;
}

.tasks {
	display: grid;
	gap: rem(20);
	padding: rem(20);
	background-color: var(--color-bg-secondary);
	border-radius: rem(8);
	box-shadow: 0 0 rem(16) rgba($color: #6246ea, $alpha: 0.08);
}

.tasks-form {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0 rem(20);
	// .tasks-form__input
	&__input {
		width: 100%;
		padding: rem(8);
		border: 0;
		border-radius: rem(4);
		background-color: var(--color-bg-secondary);
		box-shadow: 0 0 rem(8) rgba($color: #6246ea, $alpha: 0.1);
		font-size: rem(16);
		&:focus {
			outline: rem(2) var(--color-accent-primary) solid;
		}
	}
	// .tasks-form__button
	&__button {
		padding: rem(8) rem(16);
		border: 0;
		border-radius: rem(4);
		background-color: var(--color-accent-primary);
		box-shadow: 0 0 rem(8) rgba($color: #6246ea, $alpha: 0.1);
		font-family: var(--font-medium);
		font-size: rem(14);
		font-weight: 500;
		color: var(--color-text-secondary);
		transition: background-color 0.2s ease 0s;
		&:hover {
			background-color: var(--color-accent-primary-hover);
		}
		&:focus-visible {
			outline: rem(2) var(--color-text-primary) solid;
		}
	}
}

.tasks-list {
	border-radius: rem(4);
	box-shadow: 0 0 rem(8) rgba($color: #6246ea, $alpha: 0.1);
	// .tasks-list__item
	&__item {
		position: relative;
		padding: rem(5) 0;
		&:not(:last-child) {
			border-bottom: rem(1) rgba($color: #6246ea, $alpha: 0.1) solid;
		}
	}
	// .tasks-list__form
	&__form {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 0 rem(5);
	}
	// .tasks-list__status
	&__status {
		position: relative;
		display: flex;
		align-items: center;
		padding: rem(10) rem(15);
		cursor: pointer;
		& input {
			position: absolute;
			left: 0;
			top: 0;
			appearance: none;
			&:focus-visible + .tasks-list__checkbox {
				outline: rem(2) var(--color-accent-primary) solid;
			}
			&:checked + .tasks-list__checkbox {
				stroke: var(--color-accent-primary);
			}
		}
	}
	// .tasks-list__checkbox
	&__checkbox {
		width: rem(12);
		height: rem(12);
		padding: rem(2);
		border: rem(1) rgba($color: #6246ea, $alpha: 0.2) solid;
		border-radius: rem(4);
	}
	// .tasks-list__input
	&__input {
		width: 100%;
		padding: rem(5);
		border: rem(1) rgba($color: #6246ea, $alpha: 0.2) solid;
		border-radius: rem(4);
		font-family: var(--font-medium);
		font-size: rem(16);
		font-weight: 500;
		&:focus {
			outline: rem(2) var(--color-accent-primary) solid;
		}
		&:disabled {
			box-shadow: none;
			background: transparent;
			border: rem(1) rgba($color: #6246ea, $alpha: 0) solid;
			color: var(--color-textr-primary);
		}
		&[data-completed='true'] {
			text-decoration: line-through;
			color: rgba($color: #2b2c34, $alpha: 0.5);
		}
	}
	// .tasks-list__button
	&__button {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0 rem(10);
		min-height: rem(40);
		padding: rem(10) rem(15);
		border: 0;
		background: transparent;
		&.is-active {
			z-index: 15;
		}
		&:hover {
			& .tasks-list__icon {
				stroke: var(--color-accent-secondary);
			}
			& .tasks-list__tool {
				color: var(--color-accent-secondary);
			}
		}
		&:hover .tasks-list__icon_more {
			stroke: var(--color-accent-primary);
		}
	}
	// .tasks-list__icon
	&__icon {
		stroke: var(--color-text-primary);
		transition: stroke 0.2s ease 0s;
		// .tasks-list__icon_more
		&_more {
			width: rem(4);
			height: rem(20);
		}
		// .tasks-list__icon_edit
		&_edit {
			width: rem(18);
			height: rem(18);
		}
		// .tasks-list__icon_save
		&_save {
			width: rem(18);
			height: rem(14);
		}
		// .tasks-list__icon_save
		&_delete {
			width: rem(18);
			height: rem(18);
		}
	}
	// .tasks-list__tools
	&__tools {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		padding: 0 rem(40) 0 0;
		background: var(--color-bg-secondary);
		border-radius: rem(4);
		box-shadow: 0 0 rem(8) rgba($color: #6246ea, $alpha: 0.1);
		&.is-hidden {
			display: none;
		}
	}
	// // .tasks-list__tool
	&__tool {
		font-family: var(--font-medium);
		font-size: rem(14);
		font-weight: 500;
		transition: color 0.2s ease 0s;
	}
}
