@font-face {
	font-family: 'Raleway Regular';
	src: url('../fonts/Raleway-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Raleway Medium';
	src: url('../fonts/Raleway-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}
