:root {
	// fonts
	--font-regular: 'Raleway Regular';
	--font-medium: 'Raleway Medium';

	// colors
	--color-bg-primary: #eff0f3;
	--color-bg-secondary: #fffffe;
	--color-text-primary: #2b2c34;
	--color-text-secondary: #fffffe;
	--color-accent-primary: #6246ea;
	--color-accent-primary-hover: #472fc2;
	--color-accent-secondary: #e45858;
}
